*{
    margin: 0;
    padding:0;
    font-family: sans-serif;

}
.banner{
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(bg.jpg); */
    background: linear-gradient(45deg, rgb(225, 5, 152) 0%, rgba(225, 5, 34, 0) 70%) repeat scroll 0% 0%, 
    linear-gradient(135deg, rgb(26, 1, 117) 10%, rgba(49, 5, 209, 0) 80%) repeat scroll 0% 0%, 
    linear-gradient(225deg, hsla(179, 91%, 45%, 1) 10%, rgba(10, 219, 216, 0) 80%) repeat scroll 0% 0%, 
    rgba(0, 0, 0, 0) linear-gradient(315deg, rgb(189, 5, 245) 100%, rgba(9, 245, 5, 0) 70%) repeat scroll 0% 0%;
    opacity: 1.0;
    background-size: cover;
    background-position: left;
    text-align: center;
    justify-content: space-between;
}
.navbar{
    top: 0;
    background-color: black;
    padding: 10px;
    text-align: left;
    z-index: 1;
    position: sticky;
    opacity: 0.9;
    padding-left: 10%;
}
.navtext{
    text-decoration: none;
    font-size: 30px;
    color: whitesmoke;
}
/* .videoshow{
    display: none;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */
/* button{
    width: 95px;s
    height: 40px;
    border: 0;
    outline:none;
    background:rgba(56, 113, 193, 0.75);
    color: rgb(227, 232, 223);
    font-size: medium;
    border-radius: 7px;
    box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.4);
} */
.videoshow{
    width: 100%;
    height: 100%;
    position: relative;
    top: 15px;
    padding-right: 15px;
    justify-content: center;
    align-items: center;
    display: none;
    flex-direction: column;
}
.bg-videoshow{
    width: 100%;
    height: 100%;
    background-color: black;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    flex-direction: column;
}
.secButton{
    padding: 5px 20px;
    display: grid;
    
}

.outBut{
    margin-top: 30vh;
    height: 60%;
    width:20% ;
    font-size: 25px;
    font-weight: 1000;
    margin-left: 5px;
    transition: 0.4s;
    border-radius: 30px;
    background: linear-gradient(135deg,#2e85f6 0%,#58b0fe 100%);
}
.outBut:hover{
    transform: scale(1.1);
}

.nameInput{
    font-size: 18px;
    width: 30%;
    font-weight: 600;
    border-radius: 5px;
    letter-spacing: 1px;
    position: relative;
}
.cus-btn{
    padding-top: 10px;
    padding-left: 7px;
    padding: 5px;
    font-size: 25px;
    color: whitesmoke;
    letter-spacing: 2px;
    border-radius: 30px;
    transition: 0.5s;
    background: linear-gradient(135deg,#2e85f6 0%,#58b0fe 100%);
}
.cus-btn:hover{
    /* font-size: 15px; */
    background: #2196f3;
    color: whitesmoke;
    box-shadow: 0 0 10px #2196f3, 0 0 20px #2196f3, 0 0 20px #2196f3;
    transform: scale(1.1);
}
.close{
    color: black;
}

.bg-heading{
    font-size: 20px;
    letter-spacing: 3px;
    word-spacing: 6px;
    margin-bottom: 20px;
    color: whitesmoke;
}
.upload-sym{
    color: #2196f3;
    font-size: 85px;
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 12px 0px;
    justify-content: center;
    align-items: center;
}
.bg-modal{
    width: 100%;
    height: 100%;
    background-color: black;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    flex-direction: column;
}

.bg-modal-video{
    width: 100%;
    height: 100%;
    background-color: black;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    flex-direction: column;
}
.droptext{
    font-size: 30px;
    color: yellow;
    padding: 10px;
}
.topSectionText{
    width: 70%;
    height: 65%;
    background-color: rgba(125, 125, 125, 0.2);
    /* background-color: white; */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}
.def-hide{
    display: none;
}

.dropdown{
    /* display: flex;
    width: 60%; */
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 5px 10%;
    margin: 1px 2px;
    border-radius: 20px;
    text-align: center;
    flex-direction: column;
}
.fa-video{
    text-align: center;
    width: 15%;
}
.fa-youtube{
    font-size: 21px;
    text-align: center;
    width: 15%;
}
.fa-youtube:hover{
    color: red;
}
.btntext{
    position: absolute;
    font-size: 15px;
    top: 25%;
    width: 50%;
    max-width: 95%;
    border-radius: 5px;
}
.btnsubmit{
    position: absolute;
    top: 60%;
    width: 40%;
    max-width: 95%;
    border-radius: 5px;
    background-color: rgb(0, 255, 213);
    transition: 0.1s;
}
.btnsubmit:hover{
    transform: scale(1.1);
}
.dropBtn{
    font-size: 18px;
    letter-spacing: 5px;
    margin: 2% 2%;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(135deg,#2e85f6 0%,#58b0fe 100%);
    transition: 0.3s;
    position: relative;
}

.dropBtntext{
    top: 10%;
    left:25%;
    right: 25%;
    font-size: 25px;
    position: absolute;
}
.dropBtn:hover{
    /* font-size: 15px; */
    background: #2196f3;
    color: whitesmoke;
    box-shadow: 0 0 10px #2196f3, 0 0 20px #2196f3, 0 0 20px #2196f3;
    transform: scale(1.1);
}
input{
    margin: 18px auto;
    display: block;
    padding: 1px;
}
.inputclass{
    padding: 10px;
    padding-left: 10px;
    display: block;
    margin: 10px auto;
    padding: 1px;
}
#search{
    padding: 5px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 9px;
}
.text-big{
    font-size: 40px;
    padding: 5px;
}
.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-weight: bolder;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.theme-color{
    color: rgb(255, 255, 43);
}
.btn{
    padding: 4px 10px;
    margin: 7px 3px;
    border: 0px solid rgb(255, 255, 255);
    background: none;
    color: white;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 2px;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.3s;
}

.footer-all{
    display: flex;
    padding: 10px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    color: aliceblue;
    background-image: none;
    background-color: black;
}
.text-footer{
    padding-right: 30px;
    padding-top: 5px;
}
.link-anchor{
    padding-right: 2px;
    padding-left: 2px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
.link-anchor i{
    font-size: 25px;
    transition: transform 0.15s;
    color: white;
}
.link-anchor:hover .fa-github{
    color: #8a45c6;
}
.link-anchor:hover .fa-envelope{
    color: #34A853;
}
.link-anchor:hover .fa-linkedin-in{
    color: #0077b5;
}
.link-anchor:hover .fa-youtube{
    color: #f00;
}
.link-anchor:hover i{
    transform: scale(1.3);
}
.background{
    background-color: black;
    width: 100%;
}