*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    background-color: black;
}

.nav-list{
    /* background-color: black; */
    width: 70%;
    display: flex;
    font-weight: 500;
    align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 23px;
}

.nav-list li a{
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: azure;
}

.nav-list li a:hover{
    text-decoration: none;
    text-shadow: whitesmoke;
    /* color: rgb(128, 241, 52); */
    background: none;
    color: #255784;
    /* box-shadow: 0 0 10px #2196f3, 0 0 20px #2196f3, 0 0 20px #2196f3; */
}

.rightNav{
    text-align: right;
    /* background-color: blue; */
    width: 30% ;
    padding: 0 15px;
}
.topSection{
    background: rgba(0,0,0,0.7) url(./img/bg.jpg);
    background-blend-mode: darken;
    height: 92vh;
    max-width: 100%;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: none;
}
.def-btn{
    display: none;
}
.cus-btn{
    padding: 1px;
    font-size: 16px;
    color: whitesmoke;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: 0.5s;
    background: linear-gradient(135deg,#2e85f6 0%,#58b0fe 100%);
}
.cus-btn:hover{
    font-size: 15px;
    background: #2196f3;
    color: whitesmoke;
    box-shadow: 0 0 10px #2196f3, 0 0 20px #2196f3, 0 0 20px #2196f3;
    transform: scale(1.2);
}
.bg-modal{
    width: 100%;
    height: 100%;
    background-color: black;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.topSectionText{
    width: 500px;
    height: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}
#search{
    padding: 5px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 9px;
}
.text-big{
    font-size: 40px;
    padding: 5px;
}
.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-weight: bolder;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}
.theme-color{
    color: rgb(255, 255, 43);
}
.btn{
    padding: 4px 10px;
    margin: 7px 3px;
    border: 0px solid rgb(255, 255, 255);
    background: none;
    color: white;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 2px;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.3s;
}
.btn-form{
    color:black;
    text-decoration: none;
}
.btn-sm{
    padding: 1px 10px;
    margin: 7px 2px;
}
.input-edit{
    width: 50%;
    display: block;
    margin: 16px auto;
    font-size: 15px;
}
.btn:hover{
    font-size: 15px;
    background: #2196f3;
    color: whitesmoke;
    box-shadow: 0 0 10px #2196f3, 0 0 20px #2196f3, 0 0 20px #2196f3;
    transform: scale(1.2);
}

.textLinks{
    text-decoration: none;
}
.themeLinks:hover{
    color: #0077b5;
}

.footer-all{
    display: flex;
    padding: 10px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    color: aliceblue;
}
.text-footer{
    padding-right: 30px;
    padding-top: 5px;
}
.link-anchor{
    padding-right: 2px;
    padding-left: 2px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
.link-anchor i{
    font-size: 25px;
    transition: transform 0.15s;
    color: white;
}
.link-anchor:hover .fa-github{
    color: #8a45c6;
}
.link-anchor:hover .fa-envelope{
    color: #34A853;
}
.link-anchor:hover .fa-linkedin-in{
    color: #0077b5;
}
.link-anchor:hover .fa-youtube{
    color: #f00;
}
.link-anchor:hover i{
    transform: scale(1.3);
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 8px;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 2px;
}
@media only screen and (max-width: 900px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        height: 200px ;
        transition: all 0.5s ease-out;
    }
    .rightNav{
        text-align: center;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 52px;
    }
    .v-class-resp{
        opacity: 0;
    }
}
